body {
    /*background-color: #16314f;*/
    background-image: url("../images/background_0.png");
    font-family: "Karla", sans-serif;
    color: white;
    text-align: center;
    padding: 20px;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    overflow-x: hidden;
    overflow-y: hidden;
}

.header-container {
    display: inline-block;
    width: 1250px;
}

.header-container > h3 {
    text-align: right;
    margin: 0 10px 10px 0;
}

a {
    color: white;
}

h1 {
    font-size: 40pt;
    text-align: center;
    margin: 0 auto 30px auto;
}

.tools-container {
    display: inline-block;
    margin-bottom: 10px;
    width: 1250px;
}

.tools, .tools > section {
    display: flex;
}

.tools > section > div {
    font-size: 20pt;
    border-radius: 10px;
    margin: auto 10px;
    padding: 10px;
}

.buttons {
    flex: 1;
    margin-left: 10px;
    justify-content: left;
}

.verify-text-container {
    flex: 2;
    margin-right: 10px;
    justify-content: right;
}

.button {
    border: white 3px solid;
    background-color: black;
    color: white;
    font-weight: bold;
    transition: 0.25s;
}

.button:hover {
    border: black 3px solid;
    background-color: white;
    color: black;
}

#verify-text {
    width: 50%;
    background-color: white;
    border: black 3px solid;
    color: black;
}

.instructions-container {
    display: inline-block;
    width: 1250px;
}

.instructions {
    display: flex;
}

.instructions > div {
    flex: 1;
    font-size: 16pt;
}

.left-instructions {
    text-align: left;
    margin-left: 20px;
}

.right-instructions {
    text-align: right;
    margin-right: 20px;
}

canvas {
    margin-top: 15px;
    border-radius: 10px;
}

.answer-container {
    width: 1250px;
    display: inline-block;
    position: relative;
    bottom: 270px;
}

#answer {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 1px;
    color: black;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10 and Edge */
}