body {
    background-color: #16314f;
    font-family: "Karla", sans-serif;
    color: white;
    padding: 20px;
    text-align: center;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    font-size: 40pt;
    text-align: center;
}

.tools-container {
    display: inline-block;
    margin-bottom: 25px;
    width: 1250px;
}

.tools {
    display: flex;
}

.tools > section {
    display: flex;
}

.tools > section > div {
    margin: auto 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20pt;
}

.buttons {
    flex: 1;
    justify-content: left;
    margin-left: 10px;
}

.verify-text-container {
    flex: 2;
    justify-content: right;
    margin-right: 10px;
}

.button {
    font-weight: bold;
    transition: 0.25s;
    border: white 3px solid;
    background-color: black;
    color: white;
}

.button:hover {
    border: black 3px solid;
    background-color: white;
    color: black;
}

#verify-text {
    width: 50%;
    background-color: white;
    border: black 3px solid;
    color: black;
}

canvas {
    border-radius: 10px;
}

.answer-container {
    width: 1250px;
    border: 2px red solid;
    display: inline-block;
    position: relative;
    bottom: 270px;
}

#answer {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 1px;
    color: black;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10 and Edge */
}